run = "npm install && npm run build && npm start"
entrypoint = "app/page.tsx"
hidden = [".next", "node_modules"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 5000

[env]
NODE_ENV = "production"
PORT = "3000"

[nix]
channel = "stable-23_11"
